.form {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-weight: 600;
  font-size: 1rem;
}

.helpText {
  font-size: 0.8rem;
  color: #6b7280;
  margin-top: 4px;
  display: block;
  line-height: 1.4;
}

.input,
.select,
.textarea {
  padding: 0.65rem 0.85rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}


.textarea {
  resize: vertical;
}

.radioGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  flex-direction: column;
}

.radioLabel {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.submitButton {
  padding: 0.75rem;
  width: 70px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #6c7ae0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: #5a68cc;
}