.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbarInner {
  max-width: 1000px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.brand a {
  font-size: 1.75rem;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}


.navItem a {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navItemDropDown {
  position: relative;
}

.dropDownMenu {
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #6c7ae0;
  justify-content: center;
  padding: 0.2rem;
  cursor: pointer;
}


.navItem a:hover {
  color: #6c7ae0;
}